body {
    text-align: center;
    background-image: url('https://media1.giphy.com/media/26n6HRgR5KXmKH3yM/giphy.gif?cid=ecf05e47g52pt88vd9u37uj6585baqbjunf7jklwaj59gw6x&rid=giphy.gif&ct=g');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    color:red;
    font-size: xx-large;
}

button {
    width: 200px;
    height: 80px;
    background-color:rgb(49, 3, 3);
    color: rgb(243, 5, 5);
    font-weight: bolder;
    font-size: x-large;
    
}

header {
    background-color: black;
    opacity: 70%;
}
 